*{
    background-color: black;
}

.box {
  height: 200px;
  width: 200px;
  background-color: red;
  animation-name: boxer;
  animation-duration: 10s;
  position: relative;
  animation-delay: 3s;
  animation-iteration-count: infinite;
  animation-direction:normal;

}

.b{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    margin: 10px 10px;
    animation: boxes 5s infinite;
    position:relative;
}

.box1{
    animation-timing-function: ease;
    animation-duration: 10s;
    border-radius: 100%;
}
.box2{
    animation-timing-function:ease-in;
}
.box3{
    animation-timing-function: ease-in-out;
    border-radius: 100%;
}
.box4{
    animation-timing-function: ease-out;
}
.box5{
    animation-timing-function:linear;
    border-radius: 100%;
}

@keyframes boxes {
     0%{
            left: 0px;
     }
     50%{
         left: 90%;
     }
     100%{
         left: 0px;
     }
}

@keyframes boxer {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  25% {
    background-color: yellow;
    left: 400px;
    top: 0px;
  }
  50% {
    background-color: blue;
    left: 400px;
    top: 400px;
  }
  75% {
    background-color: green;
    left: 0px;
    top: 400px;
  }
  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
