* {
  background-color: black;
}

.container {
  border: 3px solid white;
  height: 600px;
  width: 100%;
}
.cont1 {
    margin-top: 70px;
  display: flex;
  justify-content: center;
}
.cont2 {
  display: flex;
  justify-content: center;
}

.cont1 div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}

.cont2 div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 100px;
}


.Box1 {
  background-color: aqua;
  height: 200px;
  width: 200px;
  border: 5px solid white;

  /* separating the box */
  /* margin-left: auto;
    align-self:flex-end;
    order: 1; */
}
.Box2 {
  background-color: darkgreen;
  height: 200px;
  width: 200px;
  border: 5px solid white;
}
.Box3 {
  background-color: chocolate;
  height: 200px;
  width: 200px;
  border: 5px solid white;
}
.Box4 {
  background-color: cadetblue;
  height: 200px;
  width: 200px;
  border: 5px solid white;
}
.Box5 {
  background-color: bisque;
  height: 200px;
  width: 200px;
  border: 5px solid white;
}
.Box6 {
  background-color: blueviolet;
  height: 200px;
  width: 200px;
  border: 5px solid white;
}

.b{
  transition-property: all;
  transition-duration: 2s;
}
.b:hover{
   transform: rotate(360deg);
  
}