*{
    background-color: black;
}

.container{
    display: flex;
    height: 620px;
    width: 100%;
    border: 5px solid white;
    
}
.cont1{
    display: flex;
}
.cont2{
    display: flex;
}
.Box1{
    background-color: aqua;
    height: 600px;
    width:200px;
    border: 4px solid white;
}

.Box2{
    background-color: aquamarine;
    height: 280px;
    width: 700px;
    border: 4px solid white;
    margin-top: 20px;
}

.Box4{
    background-color:blueviolet;
    height: 600px;
    width:200px;
    border: 4px solid white;
}

.Box3{
    background-color: chocolate;
    height: 280px;
    width: 700px;
    border: 4px solid white;
    /* align-self: flex-end;
    margin-bottom: 10px; */
    position: absolute;
    top: 300px;
    left: 221px;
}