*{
    background-color: black;
}

body{
     display: flex;
     align-items: center;
     justify-content: center;
}

.container {
    width: 800px;
    height: 800px;
    border: 5px solid white;
    display: grid;
    grid-template: repeat(3,1fr)/repeat(4,1fr);  /*first define the layout or rows and columns of grid*/
    grid-gap: 2px;
    grid-template-areas:    /*then create the area template */
    "a a a a"
    ". b c ."
    "d d d d";
}

.b{
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    text-decoration:solid;
    width: 100%;
    height: 100%;
}


.box1{
    background-color: antiquewhite;
    /* grid-column: 1/5; */
    grid-area: a;
}
.box2{
    background-color:aquamarine;
    /* grid-column: 2/3; */
    grid-area: b;
}
.box3{
    background-color:burlywood;
    /* grid-column: 3/4; */
    grid-area: c;
}
.box4{
    background-color: brown;
    /* grid-column: 1/5; */
    grid-area: d;
}
