*{
    background-color:black;
}

body{
     display: flex;
     align-items: center;
     justify-content: center;
}

.container {
    display: grid;
     grid-template-columns: /*100px auto 100px */1fr 3fr 1fr; /*repeat(6,1fr); */
    grid-template-rows: repeat(4,1fr) ;  
    grid-gap: 5px;
    width: 800px;
    height: 800px;
}

.b{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color:black;
    text-decoration:solid;
}

.box1{
    background-color: antiquewhite;
    grid-column-start: 1;
     grid-column-end: 3;
   
}
.box2{
    background-color:aquamarine;
}
.box3{
    background-color:burlywood;
}
.box4{
    background-color: brown;
}
.box5{
    background-color:chartreuse;
}
.box6{
    background-color:cyan;
    grid-column: 1/4;
}
